body {
    background-color: #1a1a1a;
}

/*-- this is for index.html navigation --*/
.mainNav > li{
    color:white;
    list-style-type:none;
    list-style: none;
}


a {
    text-decoration: none;
    color:white;
}


/*-- this is for text design --*/

h1, h2
{
    color: white;
}

#boxIngredients {
    color:white;
}

/* fonts */
h1, h2, h3, p, ul, ol{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    
}

